@import "../fonts/Calibri.ttf";
$default-font: "Calibri";

$green: rgba(103, 253, 214, 1);
$dark-green: rgba(0, 152, 113, 1);
$blue: rgba(0, 176, 240, 1);
$dark-blue: rgba(0, 112, 192, 1);
$light-grey: rgba(165, 165, 165, 1);
$dark-grey: rgba(127, 127, 127, 1);